.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
  }

  mat-card{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:500px; 
  }

  .input{
    width:400px;
  }

  table,tr,td{
    border:2px solid black;
    padding:5px;
  }
  .a{
    background-color: rgb(233, 244, 248);
    height: 100%;
  }
  .b{
    padding-left: 330px;
  }