<div class="a" *ngIf="show">
    <!-- <mat-card> -->
        <form [formGroup]="form" class="form">
          <ng-template matStepLabel>Job Description</ng-template>
    
          <mat-form-field class="input" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput placeholder="num1" formControlName="num1">
          </mat-form-field>
          <br>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Kilo Meters</mat-label>
            <input matInput placeholder="KM's travelled per day" formControlName="num2">
          </mat-form-field>
          <br>
          <button mat-button (click)="submit()">Submit</button>
        </form>
        <!-- </mat-card> -->
</div>